<!DOCTYPE html>
<html>

<head>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>
</head>
<body>

<nav class="se-gris padding-largo text-center">
<ul class="no lista" id="no-lista">

  <li class="col-md-3 inline-block lato " > <a href="http://localhost:1337/"> <b>DisfrutaCcs </b></a> </li>

</ul>
</nav>

<section>
  <div class="text-center">
    <h1 class="pacifico grande verde">Ingresa!</h1>
     <h1 class="lato"><i> Escriba su nombre de usuario</i></h1>
    <hr>
        <div class="col-md-6 inline-block">

      <article>
            <h2 class="pacifico"> Usuario </h2>
            <img src="https://s11.postimg.org/7r8b5tuk3/mufmix_07.jpg"> <br>
            

      <form action="/usuario_natural/buscar">
      <tr><td> <td><input type="text" name="Alias" class="lato center-text">
      <br/>
      <br>
      <tr><td><td><input type="submit" value="Entrar" class="lato center-text">

      </form>

      </article>
      </div>


      <div class="col-md-6 inline-block">
      <article>
      
            <h2 class="pacifico"> Admin </h2>
            <img src="https://s15.postimg.org/5ub64vwqz/business_man.png"> <br>

      <form action="/usuario_admin/buscar">

      <tr><td> <td><input type="text" name="Alias" class="lato center-text">
      <br/><br>
      <tr><td><td><input type="submit" value="Entrar" class="lato center-text">

      </form>

      </article>

    </div>

  </div>
  </section>

</body>
</html>