 <!DOCTYPE html>
<html>

<head>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>
</head>

<body>

  <div class = "col-md-3 center-block quitar-float text-center espacio-arriba" id="home" >

  <img src="https://s10.postimg.org/pttzts4gp/disfrutalogojpg.jpg" />
<br>

<h1 class="pacifico grande verde"> <b> DisfrutaCcs </b> </h1>

<h2 class="lato"> <i> Explora, Comparte, Disfruta </i> </h2>
<br>

<nav>



<a href="http://localhost:1337/registro" class="lato espacio-derecha">Registrar</a>
<a href="http://localhost:1337/consulta" class="lato espacio-derecha">Consultar</a>

</nav>
  

</div>


</body>
</html>