
<!DOCTYPE html>
<html>
<head>
<title>Search Box Example 1</title>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<!-- CSS styles for standard search box -->
<style type="text/css">
	#tfheader{
		background-color:#c3dfef;
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
	.tfbutton {
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
</style>
</head>
<body>

<h2> Hola victoria </h2>

	<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="POST" action="/localcontroler">
		        <input type="text" class="tftextinput" name="buscar" size="21" maxlength="120"><input type="submit" value="Buscar" class="tfbutton">
		</form>




	<div class="tfclear"></div>
	</div>
	<h1> Registrar Usuario </h1>
	<form action="/usuario_natural" method="POST">
    <table>
        <tr><td>nombre:<td><input type="text" name="nombre"><br/>
        <tr><td>apellido:<td><input type="text" name="apellido"><br/>
        <tr><td>correo:<td><input type="text" name="correo"><br/>
        <tr><td>sexo:<td><input type="text" name="sexo"><br/>
        <tr><td>IDusuario:<td><input type="text" name="IDusuario"><br/>
        <tr><td><td><input type="submit" value="Registrar">
</form>

<h1> Registrar local </h1>
<form action="/local" method="POST">
    <table>
        <tr><td>nombre:<td><input type="text" name="nombre"><br/>
        <tr><td>tipo:<td><input type="text" name="tipo"><br/>
        <tr><td>descripcion:<td><input type="text" name="descripcion"><br/>
        <tr><td>IDadmin:<td><input type="text" name="IDadmin"><br/>
        <tr><td>edadmin:<td><input type="text" name="edadmin"><br/>
        <tr><td>preciobase:<td><input type="text" name="preciobase"><br/>
        <tr><td>telefono:<td><input type="text" name="telefono"><br/>
        <tr><td><td><input type="submit" value="Registrar">
</form>



</body>
</html>


