<!DOCTYPE html>
<html>

<head>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>
</head>
<body>

<section>
  <div class="text-center">
    <h1 class="pacifico grande verde">Registrate</h1>
    <h2 class="lato"><i>Elija su tipo de usuario</h2></p>
    <br>
    <div class="col-md-6 inline-block">

      <article>
            <h2 class="pacifico"> <a href="http://localhost:1337/usuario_natural/registrar" class="pacifico">Usuario Natural </a> </h2>
            <img src="http://cdn2.greatfon.com/uploads/picture/347/45347/3d-funny-monster-cartoon-cute-938.jpg?width=4500&height=3000&crop=true"
      </article>



    </div>
    <div class="col-md-6 inline-block">

      <article>
            <h2 class="pacifico"> <a href="http://localhost:1337/Local/registrar" class="pacifico">Local </a> </h2>
            <img src="http://cdn1.wallpapersok.com/uploads/picture/786/149/149786/picture-149786.jpg?width=3600&height=2400&crop=true"
      </article>

    </div>

  </div>
  </section>

</body>
</html>