<!DOCTYPE html>
<html>

<head>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>
</head>
<body>

<nav class="se-gris padding-largo lato mediano">
<ul class="no lista" id="no-lista">

  <li> <a href="http://localhost:1337/"> <b>DisfrutaCcs </b></a> </li>

</ul>
</nav>

<section>
  <div class="text-center">
    <h1 class="pacifico grande verde">Registrate!</h1>
    <hr>
    <br>
    <div class="col-md-6 inline-block">

      <article>
            <h2 class="pacifico"> <a href="http://localhost:1337/usuario/registrar" class="pacifico">Usuario</a> </h2>
            <img src="https://s11.postimg.org/7r8b5tuk3/mufmix_07.jpg"
      </article>



    </div>
    <div class="col-md-6 inline-block">

      <article>
            <h2 class="pacifico"> <a href="http://localhost:1337/Usuario_admin/registrar" class="pacifico">Admin </a> </h2>
            <img src="https://s15.postimg.org/5ub64vwqz/business_man.png"
      </article>

    </div>

  </div>
  </section>

</body>
</html>