

<!DOCTYPE html>
<html>
<body>
<h5> Usuario buscado </h5>
<h1><%= Usuario_natural.Nombre %></h1>
<hr>
<h2> ID <%= Usuario_natural.id %></h1>
<h3><%= Usuario_natural.Correo %></h1>
<h4> Nombre de usuario <%= Usuario_natural.Alias %></h1>
<form action="/usuario_natural/consultar" >
<tr><td><td><input type="submit" value="volver"></td></td></tr>
</form>

</body>
</html>







