

<!DOCTYPE html>
<html>
<body>

<h1> Consultar Usuario </h1>
<form action="/usuario_natural/buscar">

<tr><td>Alias:<td><input type="text" name="Alias"><br/>
<tr><td><td><input type="submit" value="Buscar">

</form>


</body>
</html>







