

<!DOCTYPE html>
<html>
<head>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>
</head>


<body>

<nav class="se-gris padding-largo lato mediano">
<ul class="no lista" id="no-lista">

  <li > <a href="http://localhost:1337/"> <b>DisfrutaCcs </b></a> </li>

</ul>
</nav>


<section>
 <div class="text-center">
    <h1 class="pacifico grande verde">Consultar Usuario</h1>
    <hr>
    <h2 class="lato"><i>Escriba el alias del usuario</h2></p>
    <br>

<form action="/usuario_natural/buscar">

<br>
<br>

<tr><td> <td><input type="text" name="Alias" class="lato center-text">
<br/>
<br>
<tr><td><td><input type="submit" value="Buscar" class="lato center-text">

</form>

    <div class="col-md-6 inline-block">




</section>
</body>
</html>