

<!DOCTYPE html>
<html>
<body>
<h5> Nuevo usuario creado </h5>
<h1><%= Usuario_natural.nombre %></h1>
<hr>
<h2> ID <%= Usuario_natural.id %></h1>
<h3><%= Usuario_natural.correo %></h1>
<h4> nombre de usuario <%= Usuario_natural.IDusuario %></h1>


</body>
</html>






