

<!DOCTYPE html>
<html>
<body>
<h5> Nuevo usuario creado </h5>
<h1><%= Usuario_natural.Nombre %></h1>
<hr>
<h2> Nombre de usuario: <%= Usuario_natural.Alias %></h1>
<h3><%= Usuario_natural.Correo %></h1>
<h4> Presupuesto: <%= Usuario_natural.Presupuesto %></h1>
<form action="/usuario_natural/registrar" >
<tr><td><td><input type="submit" value="volver"></td></td></tr>
</form>

</body>
</html>






