

<!DOCTYPE html>
<html>
<body>
<h5> Usuario buscado </h5>
<h1><%= Usuario_admin.Nombre %></h1>
<hr>
<h2> ID <%= Usuario_admin.id %></h1>
<h3><%= Usuario_admin.Correo %></h1>
<h4> Nombre de usuario <%= Usuario_admin.Alias %></h1>
<form action="/usuario_admin/consultar" >
<tr><td><td><input type="submit" value="volver"></td></td></tr>
</form>

</body>
</html>







