<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>	

</head>

<body>

<nav class="se-gris padding-largo lato mediano">
<ul class="no lista" id="no-lista">

  <li> <a href="http://localhost:1337/"> <b>DisfrutaCcs </b></a> </li>

</ul>
</nav>
<div align="center">

<form action = "/Usuario_admin/actualizar/<%= Usuario_admin.id %>" method= "POST">
<h1 class="pacifico grande verde"> Editar Perfil </h1>
<hr>

<h4 class = "lato "> Nombre </h1>
<input value= "<%=  Usuario_admin.Nombre %>" type="text" name="Nombre" class="lato text-center"><br />

<h4 class = "lato "> Presupuesto </h1>
<input value= "<%=  Usuario_admin.Presupuesto %>" type="text" name="ppto" class="lato text-center"><br />




<br>
<input type="submit" value = "Guardar Cambios" class="lato">


</div>
</body>
</html>