
<!DOCTYPE html>
<html>
<body>
<h5> Nuevo local creado </h5>
<h1><%= Local.Nombre %></h1>
<hr>
<h2> Tipo de local: <%= Local.Tipodelocal %></h1>
<h3><%= Local.Preciobase %></h1>

<form action="/Local/registrar" >
<tr><td><td><input type="submit" value="volver"></td></td></tr>
<form action="localhost:1337" >
<tr><td><td><input type="submit" value="Menu principal"></td></td></tr>
</form>

</body>
</html>





