
<!DOCTYPE html>
<html>

<head>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/styles/main.css">

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico" />

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<title> DisfrutaCcs </title>

</head>

<body>

<nav class="se-gris padding-largo text-center">
<ul class="no lista" id="no-lista">

  <li class="col-md-3 inline-block lato " > <a href="http://localhost:1337/"> <b>DisfrutaCcs </b></a> </li>

</ul>
</nav>


<div align="center">

<h1 class= "pacifico verde grande"><%= Local.Nombre %></h1>
<hr>

<h2 class="lato "> Tipo de local: </h1>

<h2 class = "lato mediano"> <b><%= Local.Tipodelocal %></b></h1>

<h2 class="lato "> Edad minima de ingreso: </h1>

<h2 class = "lato mediano"> <b><%= Local.Edad_minima %></b></h1>

<h2 class="lato "> Precio Base: </h1>

<h2 class = "lato mediano"> <b> BsF. <%= Local.Preciobase %></b></h1>


</div>
</body>
</html>